html {
  scroll-behavior: smooth;
}
:root {
  --text-grey: #5F6368;
  --light-grey: #F8F9FA;
  --dark: #081226;
  --white: #FFF;
  --light-blue: #0062BD;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Poppins;
  src: url(../Assets/Poppins-Medium.ttf);
}
@font-face {
  font-family: PoppinsBold;
  src: url(../Assets/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: PoppinsSemiBold;
  src: url(../Assets/Poppins-SemiBold.ttf);
}
body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  background-color: var(--light-grey);
}
main {
 margin-top: 70px;
}
.banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px;
  padding-top: 50px;
  background-color: var(--light-grey);
  text-align: center;
}
.water-mark {
  text-align: center;
  padding: 5px 15px;
  border-radius: 50px;
  border: 1px solid var(--light-blue);
  background-color: #0062BD05;
  color: var(--light-blue);
  display: inline-block;
}
h1 {
  font-size: 32px;
  font-family: PoppinsSemiBold;
  margin: 8px 0;
}
p {
  color: var(--text-grey);
}
.join {
  display: block;
  font-weight: bolder;
  color: var(--white);
  background-color: var(--light-blue);
  border-radius: 8px;
  width: 80%;
  height: 40px;
  font-size: 16px;
  border: none;
  margin: 8px auto;
  box-shadow: 0px 1px 5px var(--light-blue);
}
.admission {
  display: block;
  font-weight: bolder;
  background-color: var(--white);
  border-radius: 8px;
  width: 80%;
  height: 40px;
  font-size: 16px;
  border: 1px solid black;
  margin: 8px auto;
}
.banner-img {
  max-width: 100%;
  height: 280px;
  overflow: hidden;
  border-radius: 14px;
}
.banner-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.values {
  padding: 40px 20px;
  background-color: var(--white);
}
.values .values-box {
  border-radius: 6px;
  background-color: var(--light-grey);
  padding: 20px;
  margin: 20px auto;
  transition: .5s;
}
.values .values-box h3 {
  margin: 8px auto;
}
.valueIcon {
  color: var(--light-blue);
  padding: 16px;
  font-size: 32px;
  border-radius: 8px;
  background-color: #0062BD15;
  transition: .5s;
}
.values-box:hover {
  transform: translateY(5px);
  box-shadow: 0 3px 2px var(--text-grey);
}
.values-box:hover .valueIcon {
  background-color: var(--light-blue);
  color: white;
}
.qualifications {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.qualifications .qualities {
  background-color: var(--white);
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  text-align: center;
}
.qualifications .qualities h1 {
  color: var(--light-blue);
}
.CTA {
  background-color: var(--dark);
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  margin: 20px;
}
.CTA h1 {
  color: var(--white);
}
.CTA .apply {
  text-align: inherit;
  color: var(--white);
  border-radius: 6px;
  padding: 10px 30px;
  margin: 10px auto;
  box-shadow: 0 0 5px #0062BD;
  border: none;
  background-color: var(--light-blue);
}