html {
  scroll-behavior: smooth;
}
:root {
  --text-grey: #5F6368;
  --light-grey: #F8F9FA;
  --dark: #081226;
  --white: #FFF;
  --light-blue: #0062BD;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Poppins;
  src: url(../Assets/Poppins-Medium.ttf);
}
@font-face {
  font-family: PoppinsBold;
  src: url(../Assets/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: PoppinsSemiBold;
  src: url(../Assets/Poppins-SemiBold.ttf);
}
body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
}
main {
 margin-top: 70px;
}
.banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px;
  padding-top: 50px;
  background-color: var(--light-grey);
}
.water-mark {
  text-align: center;
  padding: 5px 15px;
  border-radius: 50px;
  border: 1px solid var(--light-blue);
  background-color: #0062BD05;
  color: var(--light-blue);
  display: inline-block;
}
h1 {
  font-size: 32px;
  font-family: PoppinsSemiBold;
}
p {
  color: var(--text-grey);
}
.values {
  padding: 40px 20px;
}
.values .values-box {
  border-radius: 6px;
  background-color: var(--light-grey);
  padding: 16px;
  margin: 20px auto;
}
